<div fxLayout.xs="column">
  <app-course-introduction-detail 
    [title]="'初級'"
    [imagePath]="'http://localhost'"
    [content]="'初級はこんなコースです。'">
  </app-course-introduction-detail>
  <app-course-introduction-detail
    [title]="'中級'"
    [imagePath]="'http://localhost'"
    [content]="'初級はこんなコースです。'">
  </app-course-introduction-detail>
  <app-course-introduction-detail
    [title]="'上級'"
    [imagePath]="'http://localhost'"
    [content]="'初級はこんなコースです。'">
  </app-course-introduction-detail>
</div>