<div fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="10px" fxLayoutGap.gt-xs="30px" >
  <app-course-introduction-detail fxFill fxFlex.gt-xs="30"
    [title]="'初級'"
    [imagePath]="'http://localhost'"
    [content]="'初級はこんなコースです。'">
  </app-course-introduction-detail>
  <app-course-introduction-detail fxFill fxFlex.gt-xs="30"
    [title]="'中級'"
    [imagePath]="'http://localhost'"
    [content]="'初級はこんなコースです。'">
  </app-course-introduction-detail>
  <app-course-introduction-detail fxFill fxFlex.gt-xs="30"
    [title]="'上級'"
    [imagePath]="'http://localhost'"
    [content]="'初級はこんなコースです。'">
  </app-course-introduction-detail>
</div>